/* Header.css */
.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .search-bar {
    margin-right: 20px;
  }
  
  .search-input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0f0303ac;
  }
  